body {
    margin: 0px;
    padding: 0px;
    width: auto;
}

:root {
    --color1: navy;
    --color2: rgb(49, 175, 180);
    --color3: white;
}
/* Corps */

.corp {
    border-radius: 15px;
    background-color: rgba(54, 54, 221, 0.1);
    box-shadow: 12px 12px 5px 1px rgba(54, 54, 221, 0.2);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 1.5fr auto;
    grid-template-areas: 
    "col1l1 col2l1"
    "col1l2 col2l1"
    "col1l3 col1l3";
    margin:20px ;
    padding: 0;
}
.titre{
    grid-area: col1l1;
    margin: auto;
}
.text {
    grid-area: col1l2;
    margin: auto 0 auto 0;
}
.image {
    grid-area: col2l1;
    margin: auto 0 auto 0;
}

div p img {
    width: 100%;
    margin: auto;
}

.text p {
    font-size: 20px;
    text-align: justify;
    padding: 0 0 0 10px;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 25px;
}
.titre p {
    font-size: 70px;
    text-align: justify;
    padding: 0 0 0 10px;
    font-family: 'Reem Kufi', sans-serif;
    line-height: 25px;
}
#video {
    grid-area: col1l3;
    margin: 10px auto;

    
}
#video iframe {
    border-radius: 20px;
    width: 500px;
    height: 315px;
}
@media screen and (max-width: 600px) { 
    #video iframe {
        width: 400px;
        height: 250px;
    }
}
@media screen and (max-width: 500px) { 
    #video iframe {
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 800px) {
    .corp {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "ligne1"
        "ligne2"
        "ligne3"
        "ligne4";
    }

    .titre{
        grid-area: ligne1;
    }
    .titre p {
        font-size: 50px;
    }
    .text {
        grid-area: ligne2;
    }
    .image {
        grid-area: ligne3;
    }
    .text p {
        padding: 0 10px 0 10px;
    }
    #video {
        grid-area: ligne4;
    }

}
